<div class="ribbon_center">
<h1 class="ribbon">Groups</h1>
</div>

   <% @groups.each do |group| %>
    <a href="#" class="group-menu">
    <i class="fa fa-power-off"></i>
    </a>
        
          <span><%= group.name %></span>
          <li><%= link_to 'Show', group %></li>
        </div>
      <% end %>
<br>

<%= link_to 'New Group', new_group_path %>
<%= link_to 'Show Pick', picks_path %>
