<div class="top-img">
    <div class ="logo">
        <img src ="/assets/smoozy.png" >
        <h3>Allowing fieldwork photos to be smoothly shared online</h3>
    </div>
    <div class="col-md-12 info-img">
        <div class="col-md-4 japan">
            <img src="/assets/Japan.png" alt="">
        </div>
        <div class="col-md-4 korea">
            <img src="/assets/Korea.png" alt="">
        </div>
        <div class="col-md-4 singapore">
            <img src="/assets/Singapore.png" alt="">
        </div>
    </div>
</div>