<div class="top-img">
        <div class ="logo">
            <img src ="/assets/smoozy.png" >
        </div>
        <%# <div class = "veg_low">
            <img src = "/assets/vegetable.png">
        </div> %>
</div>