
<div class=brcolor>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5">
                <img src ="/assets/fill_fill.png" > 
            </div>
            
            <div class="col-md-7">
            <div class=content>           
                <p>このアプリケーションは...<br>
                フィールドワーク中に撮影した写真を投稿、カテゴリー、グループごとの分類、他の人の投稿の閲覧ができます。<br>
                オンラインでの活動が増え、フィールドワークも個人で行うことが増えてきます。<br>
                ここで出てきた問題はどうやって写真を共有するか<br>
                KJ法を行う前に写真についての説明をメンバーにしなければなりません<br>
                Smoothieはそんな問題を解決します
                </p>  
            </div>
        </div>
    </div>
</div>