// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.brcolor{
    background-color: #ACEB7C;
    width: 100%;
    overflow: hidden;
}

.brcolor img {
    max-width: 100%;
}