// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.topimg{
    text-align: center;
    margin: 0 auto;
}

.topimg img {
    z-index: 1;
}

.veg_low img{
    transform: scale(1, -1);
    width: 100%;
}

.logo{
    margin: 50px;
}

.logo img{
    width: 80%;
    padding-left: 10%;   
}



/*.top-img img{
    // max-width: 400px;
    width: 400px;
    padding: 5%;
    margin-top:30%;
    float: left;
    text-align: center;
}*/