// Place all the styles related to the picks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ß

.pic-wrapper {
    width: 80%;
    padding: 50px;
    margin: 50px 0; 
    border: 1px solid black;
    line-height: 6px;
}

.pic-wrapper p {
    padding: 5px;
}

.positive {
    background-color: #FFEABA;
}

.negative {
    background-color: #EFE3FD;
}

.normal {
    background-color: #EFEFF0;
}

label {
    display: inline-block;
    font-size: 16px;
    // margin-top: 30px;
    color: black;
}

#search-picks {
  border: 1px solid gray;
  padding: 10px;
  width: 80%;
}

@media screen and (min-width: 1170px){

input[type="text"] {
    width: 70%;
}

input[type="file"] {
    width: 25%;
}

textarea {
    width: 70%;
    height: 100px;
}
}

@media screen and (max-width: 1171px){

  .radio_button{
  text-align: center;
  }
  input[type="text"] {
    width: 90%;
}

input[type="file"] {
    width: 90%;
}

textarea {
    width: 90%;
    height: 100px;
}
}

  a.btn--white {
    color: #000;
    background-color: #eaf4fc;
    border-bottom: 5px solid #9e9478;
  }
  
  a.btn--white:hover {
    margin-top: 3px;
    color: #000;
    background: #eaf4fc;
    border-bottom: 2px solid #9e9478;
  }

  a.btn--orange {
    color: #000;
    background-color: #FFCC33;
    border-bottom: 5px solid #CC9933;
  }
  
  a.btn--orange:hover {
    margin-top: 3px;
    color: #000;
    background: #FFCC33;
    border-bottom: 2px solid #CC9933;
  }

  a.btn--purple {
    color: #000;
    background-color: #CC99FF;
    border-bottom: 5px solid #9999CC;
  }
  
  a.btn--purple:hover {
    margin-top: 3px;
    color: #000;
    background: #ccb3e6;
    border-bottom: 2px solid #9999CC;
  }

@media screen and (min-width: 1170px){
  .button_share{
    color: #000;
    background-color: #a0d8ef;
    border-color: #a0d8ef;
    border-bottom: 5px solid black;
}

.button_share:hover {
  margin-top: 3px;
  color: #000;
  background: #a0d8ef;
  border-color: #a0d8ef;
  border-bottom: 2px solid black;
}
}

@media screen and (max-width: 1171px){
  .button_share{
    color: #000;
    background-color: #a0d8ef;
    border-color: #a0d8ef;
    border-bottom: 5px solid black;
    width: 90%;
  }
  
  .button_share:hover {
    margin-top: 3px;
    color: #000;
    background: #a0d8ef;
    border-color: #a0d8ef;
    border-bottom: 2px solid black;
    width: 90%;
  }
}

.description_style{
  line-height: 150%;
  padding-bottom: 13px;
}

.comment-body textarea{
  height: 50px;
}

.comment-wrapper {
  height: 200px;
  overflow: scroll;
  padding: 20px;
  border: 1px solid black;
}