// Place all the styles related to the picks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ß

.pic-wrapper {
    width: 80%;
    padding: 50px;
    margin: 50px 0; 
    border: 1px solid black;
    line-height: 6px;
}

.pic-wrapper p {
    padding: 5px;
}

.positive {
    background-color: #FFEABA;
}

.negative {
    background-color: #EFE3FD;
}

.normal {
    background-color: #EFEFF0;
}

label {
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
}

input[type="text"] {
    width: 70%;
}

input[type="file"] {
    width: 25%;
}

textarea {
    width: 70%;
    height: 100px;
}

a.btn--white {
    color: #000;
    background-color: #eaf4fc;
    border-bottom: 5px solid #9e9478;
  }
  
  a.btn--white:hover {
    margin-top: 3px;
    color: #000;
    background: #eaf4fc;
    border-bottom: 2px solid #9e9478;
  }

  a.btn--orange {
    color: #000;
    background-color: #FFCC33;
    border-bottom: 5px solid #CC9933;
  }
  
  a.btn--orange:hover {
    margin-top: 3px;
    color: #000;
    background: #FFCC33;
    border-bottom: 2px solid #CC9933;
  }

  a.btn--purple {
    color: #000;
    background-color: #CC99FF;
    border-bottom: 5px solid #9999CC;
  }
  
  a.btn--purple:hover {
    margin-top: 3px;
    color: #000;
    background: #CC99FF;
    border-bottom: 2px solid #9999CC;
  }
.new-title {
    margin: 50px 0 0 100px;
}
