<div class="list">
    <div class="list_channels">
        <h2 class="list_header">Smoozy</h2>
        <ul class="channel_list">
            <%= sidebar_link_item('Picks Home', picks_path) %>
            <%= sidebar_link_item('New Pick', new_pick_path) %>
            <%= sidebar_link_item('Select Group', groups_path) %>
            <%= sidebar_link_item('Help', pages_help_path) %>

            <%#<li><a href="/pages/help">Help</a></li>%>
        </ul>
    </div>
</div>