<div class="list">
    <div class="list_channels">
        <%# <h2 class="list_header"><a href="/pages/info">SMOOZY</a></h2> %>
        <div class="channel-img">
            <a href="/pages/info"><img src ="/assets/smoozy.png" ></a>
        </div>
        <ul class="channel_list">
            <ul>
                <li><%= sidebar_link_item('Picks Home', picks_path) %></li>
                <li><%= sidebar_link_item('New Pick', new_pick_path) %></li>
                <li><%= sidebar_link_item('Select Group', groups_path) %></li>
                <li><%= sidebar_link_item('Help', pages_help_path) %></li>
            </ul>
        </ul>
    </div>
</div>