<div class="list">
    <div class="list_channels">
        <%# <h2 class="list_header"><a href="/pages/info">SMOOZY</a></h2> %>
        <div class="channel-img">
            <a href="/picks"><img src ="/assets/smoozy_bold.png" ></a>
        </div>
        <ul class="channel_list">
            <ul>
                <li><%= sidebar_link_item('Home', picks_path) %></li>
                <li><%= sidebar_link_item('Post', new_pick_path) %></li>
                <li><%= sidebar_link_item('Groups', groups_path) %></li>
                <li><%= sidebar_link_item('About', pages_info_path) %></li>
            </ul>
        </ul>
    </div>
</div>